body {
    background-color: whitesmoke;
    color: black;
    font-family: 'JetBrains Mono', monospace;
}

.content-wrapper {
    padding: 2% 5%;

}

#navbar {
    background-color: whitesmoke !important;
   
}

h1#header-title {
    text-align: center;
    margin-bottom: 60px;

}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px;
}

h3 {

    text-align: center;
    top: 190px;
    left: 50%;
    margin-bottom: 20px;
}


#application-code-column {

    text-align: center;
}

.form {

    border: thin solid #dee2e6;
    box-sizing: border-box;
    padding: 24px;
    margin: 40px 30%;
}

#index-list {

    list-style: none;

}

ul#index-list {
    margin: 40px 30%;
    padding: 0px;
}

.list-group-item {
    text-align: center;


}

button {
    margin: 7px 0px 0px;

}

div#mentors {

    text-align: center;
}

#add-new-applicant-button {
    text-align: center;
}

#delete-applicant {
    margin-top: 20px;
}

.navbar {
    position: fixed;
}

footer {


}