{% extends "layout.html" %}


{% block content %}

    <h1>Applicant details:</h1>

    <table>
        <colgroup span="5"></colgroup>
        <tr>
            <th> First name</th>
            <th> Last name</th>
            <th> Phone number</th>
            <th> Email</th>
            <th> Application code</th>
        </tr>
        <tbody>
        {% for applicant in applicant_details %}
            <tr>
                <td> {{ applicant.first_name }} </td>
                <td> {{ applicant.last_name }} </td>
                <td> {{ applicant.phone_number }} </td>
                <td> {{ applicant.email }} </td>
                <td> {{ applicant.application_code }} </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    {% include 'footer.html' %}

{% endblock %}