{% extends "layout.html" %}

<title>{% block page_title %} Applicants list {% endblock %} - Application process</title>

{% block content %}

    <table class="table table-striped">
        <colgroup span="5"></colgroup>
        <tr>
            <th> First name</th>
            <th> Last name</th>
            <th> Phone number</th>
            <th> Email</th>
            <th id="application-code-column"> Application code <br>(click for details)</th>
        </tr>
        <tbody>
        {% for applicant in applicants %}
            <tr>

                <td> {{ applicant.first_name }} </td>
                <td> {{ applicant.last_name }} </td>
                <td> {{ applicant.phone_number }} </td>
                <td> {{ applicant.email }} </td>
                <td id="application-code-column">
                    <a href="{{ url_for('display_applicant_details', application_code=applicant.application_code) }}"
                       class="link-info">{{ applicant.application_code }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <div id="add-new-applicant-button">
        <a href={{ url_for('add_applicant') }}>
            <button class="btn btn-success">Add new applicant</button>
        </a>
    </div>


    <div id="delete-applicant" class="form search mb-3">
        <h3>Delete applicant by email</h3>

        <form action="/applicants" method="post">
            <label for="email-ending" class="form-label">Email address:</label>
            <input id="email-ending" type="text" name="email-ending" placeholder="Type email ending (e.g. gmail.com)"
                   class="form-control form-control-sm">
            <button type="submit" class="btn btn-danger">Remove</button>
        </form>

    </div>

    {% include 'footer.html' %}

{% endblock %}