{% extends "layout.html" %}

{% block content %}

    <table>
        <colgroup span="5"></colgroup>
        <tr>
            <th> First name</th>
            <th> Last name</th>
            <th> Phone number</th>
            <th> Email</th>
            <th> Application code</th>
        </tr>
        <tbody>
        {% for applicant in applicants %}
            <tr>

                <td> {{ applicant.first_name }} </td>
                <td> {{ applicant.last_name }} </td>
                <td> {{ applicant.phone_number }} </td>
                <td> {{ applicant.email }} </td>
                <td>
                    <a href="{{ url_for('display_applicant_details', application_code=applicant.application_code) }}">{{ applicant.application_code }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <a href={{ url_for('add_applicant') }}>Add an applicant</a>


    <h3>Delete applicant by email</h3>

    <form action="/applicants" method="post">
        <label for="email-ending">Email address@</label>
        <input id="email-ending" type="text" name="email-ending" placeholder="Type the domain name here">
        <button type="submit">Remove</button>
    </form>


    <br>

    {% include 'footer.html' %}

{% endblock %}