{% extends "layout.html" %}

{% block page_title %}
    Mentors list
{% endblock %}

{% block content %}

    <div class="form search mb-3">

        <h3>Search for mentors</h3>

        <div>
            <form action="/mentors">
                <label for="name-input" class="form-label">Last name:</label>
                <input id="name-input" type="text" name="mentor-last-name" class="form-control form-control-sm"
                       placeholder="Type last name">
                <button type="submit" class="btn btn-secondary">Search</button>
            </form>
        </div>

        <br>

        <div>
            <form action="/mentors">
                <label for="city-select" class="form-label">Location:</label>
                <select name="city-name" id="city-select">
                    <option value="">Please choose a city</option>
                    <option value="Budapest">Budapest</option>
                    <option value="Miskolc">Miskolc</option>
                    <option value="Kraków">Kraków</option>
                    <option value="Bucharest">Bucharest</option>
                    <option value="Warsaw">Warsaw</option>
                </select>
                <button type="submit" class="btn btn-secondary">Search</button>
            </form>
        </div>

    </div>

    <br>

    <div id="mentors">
        {% for mentor in mentors %}
            {{ mentor.first_name + " " + mentor.last_name }} - {{ mentor.city }}<br>
        {% endfor %}
    </div>

    {% include 'footer.html' %}
{% endblock %}
